body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #27275A;
  font-size: 16px;
  background: #FAFAFA; }

h1 {
  padding: 8px;
  margin: 0;
  font-size: 48px;
  color: #C7B967;
  line-height: 1.0; }

h2 {
  text-align: center;
  padding: 20px;
  font-size: 36px;
  color: #FFF; }

p {
  line-height: 1.9;
  color: rgba(39, 39, 90, 0.8);
  padding: 0 12px; }

a {
  text-decoration: none;
  color: #27275A; }

a:hover {
  color: #FFF;
  font-weight: 600;
  background-color: #595927; }

.btn-more {
  padding: 12px;
  display: inline-block;
  text-align: center;
  margin-bottom: 30px;
  margin-left: 10px;
  background: #27275A;
  color: white;
  border-radius: 5px;
  width: 200px; }

main {
  margin: 0 auto;
  margin-top: 120px; }
  @media (min-width: 1200px) {
    main {
      width: 80%; } }
  @media (max-width: 719px) {
    main {
      width: 95%; } }
  @media (max-width: 600px) {
    main {
      width: 100%; } }

.h3 {
  font-size: 24px; }

@media (max-width: 719px) {
  section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.hero_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .hero_section .banner-image img {
    width: 500px;
    height: auto;
    margin-top: -30px; }
  @media (max-width: 719px) {
    .hero_section .banner-text {
      text-align: center; }
    .hero_section .banner-image {
      display: none; } }

.article-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center; }
  .article-services .card-header img {
    width: 50%;
    height: 200px; }
  .article-services .card-body {
    padding: 0 8px; }
  @media (max-width: 600px) {
    .article-services {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .article-services .card {
        margin-top: 30px;
        width: 100%; } }

#mobile-navigation {
  display: none;
  background: #2d3436;
  z-index: 100;
  position: fixed;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-top: 72px;
  width: 100%;
  text-align: center;
  opacity: 0;
  pointer-events: none; }
  #mobile-navigation ul {
    list-style: none;
    padding: 0 32px; }
    #mobile-navigation ul li {
      padding: 8px; }
  @media (max-width: 900px) {
    #mobile-navigation {
      display: block; } }

nav {
  top: 0;
  height: 72px;
  background: #FAFAFA;
  margin: 0;
  position: fixed;
  width: 100%;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 16px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 10px 1px #27275a;
          box-shadow: 0px 0px 10px 1px #27275a; }
  nav #menu-icon {
    height: 100%;
    font-size: 28px;
    padding: 0 4px;
    color: #27275A;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none; }
    @media (max-width: 900px) {
      nav #menu-icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 100%;
    -webkit-padding-start: 0;
       -moz-padding-start: 0;
            padding-inline-start: 0; }
    nav ul a {
      padding: 0 32px;
      color: #27275A;
      font-weight: 400;
      -webkit-transition: 0.4s;
      transition: 0.4s; }
    nav ul a:hover {
      background: none;
      text-decoration: none;
      color: #27275a; }
    @media (max-width: 900px) {
      nav ul {
        display: none !important; } }
  nav .active {
    color: #C7B967;
    font-weight: 700;
    border-bottom: #27275A; }
  nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    height: 100%;
    padding: 0 32px; }
    nav .logo a img {
      height: 100%; }
    nav .logo a:hover {
      background: none; }
    @media (max-width: 600px) {
      nav .logo {
        width: 70%;
        padding: 0; } }

.whyus {
  background: #27275a;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px; }
  .whyus article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
    .whyus article .reasons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .whyus article .reasons .benefits-image {
        margin: 0 32px; }
        @media (max-width: 600px) {
          .whyus article .reasons .benefits-image {
            display: none; } }
      .whyus article .reasons .benefits {
        margin: 0 32px; }
        @media (max-width: 719px) {
          .whyus article .reasons .benefits h4 {
            text-align: center; } }
  .whyus h4 {
    font-size: 24px;
    color: white;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0; }
  .whyus p {
    color: #FFF; }

section {
  margin-top: 50px; }

.stats {
  width: 100%; }
  .stats .article-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
    .stats .article-stats div {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin: 0 50px;
      text-align: center; }
      .stats .article-stats div hr {
        color: #C7B967;
        border: 2px solid; }
      .stats .article-stats div p {
        font-size: 36px;
        font-weight: 600;
        -webkit-margin-before: 0;
                margin-block-start: 0;
        -webkit-margin-after: 0;
                margin-block-end: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .stats .article-stats div p span {
          color: #c7c767;
          font-weight: 400;
          font-size: 14px;
          text-transform: uppercase; }
  @media (max-width: 719px) {
    .stats {
      width: 100%;
      margin-bottom: 30px; }
      .stats .article-stats {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }

.contact article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .contact article h2 {
    font-size: 36px;
    color: #C7B967;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0; }
  .contact article p {
    width: 500px; }
    @media (max-width: 900px) {
      .contact article p {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content; } }

.sponsor {
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .sponsor div p {
    font-size: 14px;
    color: #C7B967; }
  .sponsor div a:hover {
    background: none; }
  .sponsor div a img {
    width: 91%; }
  @media (max-width: 900px) {
    .sponsor {
      display: none; } }

footer {
  background: #27275a;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #eee;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  footer a:hover {
    color: #C7B967; }
  footer .copyright {
    border-top: 2px solid #C7B967;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    footer .copyright p {
      color: #FFF; }
  footer .social-media-footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
    padding: 0; }
    footer .social-media-footer ul li {
      padding: 16px;
      -webkit-transition: .4s;
      transition: .4s; }
  footer .social-media-footer a {
    color: #FFF;
    -webkit-transition: 0.4s;
    transition: 0.4s; }

#team-main {
  width: 95%; }
  #team-main #team .team-heading {
    text-align: center; }
  #team-main #team .subtitle {
    font-weight: 300;
    font-size: 20px;
    margin: 4px 32px; }
  #team-main #team #members {
    margin: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #FAFAFA; }
    #team-main #team #members .member-card {
      width: 33.3%;
      margin: 0 8px;
      float: left;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
      #team-main #team #members .member-card .member-card-header img {
        width: 100%;
        border-radius: none; }
      #team-main #team #members .member-card .member-card-body h3 {
        font-size: 18px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        #team-main #team #members .member-card .member-card-body h3 span {
          font-weight: 300;
          font-size: 18px;
          color: #C7B967; }
      #team-main #team #members .member-card .member-card-body p {
        padding: 0 8px;
        font-weight: 400;
        text-align: left;
        font-size: 16px;
        line-height: 1.9; }
      #team-main #team #members .member-card .member-card-body .media-icons ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        list-style: none;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-padding-start: 0;
           -moz-padding-start: 0;
                padding-inline-start: 0; }
        #team-main #team #members .member-card .member-card-body .media-icons ul li {
          padding: 16px; }
          #team-main #team #members .member-card .member-card-body .media-icons ul li a:hover {
            color: #C7B967;
            background-color: #FFF; }

#contact {
  margin-bottom: 60px; }
  #contact h1 {
    text-align: center; }
  #contact h3 {
    font-size: 20px;
    text-align: center;
    font-weight: 300; }
  #contact article {
    padding: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #contact article #location {
      margin-top: 50px;
      width: 45%;
      height: 500px; }
    #contact article #contact-form {
      width: 50%;
      padding: 0 16x; }
      #contact article #contact-form label {
        margin: 0 0 8px 0; }
      #contact article #contact-form input, #contact article #contact-form textarea {
        height: 32px;
        padding: 0 16px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 20px;
        border: none; }
      #contact article #contact-form textarea {
        overflow: hidden;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content; }
      #contact article #contact-form input:focus {
        outline: none; }
      #contact article #contact-form a {
        width: 90%; }

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 32px 0; }

/*# sourceMappingURL=style.css.map */