html {
  margin: 0;
  padding: 0; }

body {
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  color: #0e0000;
  width: 1366px;
  top: 0;
  position: relative;
  overflow-x: hidden;
  justify-content: center; }

h2 {
  padding-top: 30px;
  color: #FFF;
  text-align: center;
  font-size: 40px; }

header {
  display: flex;
  height: 70px;
  top: 0;
  overflow: hidden;
  width: 100%;
  background-color: #FFF;
  position: fixed;
  box-shadow: 0px 0px 10px 1px #27275a; }
  header div {
    margin-top: 15px;
    margin-left: 100px; }
    header div a {
      text-decoration: none;
      font-size: 24px;
      color: #27275A;
      font-weight: 900; }
  header nav {
    flex: 1;
    margin-left: 57%;
    margin-top: 20px;
    top: 0; }
    header nav ul {
      font-weight: 700;
      list-style: none;
      margin: 0;
      padding: 0; }
      header nav ul li {
        display: inline-block;
        margin-left: 40px; }
        header nav ul li a {
          display: inline-block;
          text-decoration: none;
          color: #27275A;
          font-weight: 600; }
        header nav ul li a:hover {
          border-radius: 8px; }

h1 {
  font-size: 36px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 30px; }

button {
  width: 160px;
  height: 50px;
  padding: 15px 32px;
  border-radius: 12px;
  border: none;
  font-size: 17px;
  color: #FFF;
  cursor: alias;
  background-color: #27275A; }

main .hero_section {
  overflow: auto;
  margin-left: 100px;
  display: flex;
  margin-bottom: 100px; }
  main .hero_section .banner-text {
    margin-top: 160px;
    width: 669px;
    height: 335px;
    color: #2D3748;
    text-align: left; }
    main .hero_section .banner-text p {
      margin-bottom: 30px;
      text-align: justify;
      color: #4A5568; }
  main .hero_section .banner-image {
    width: 652px;
    height: 454px;
    margin-left: 40px;
    margin-top: 130px;
    border-radius: none; }
main .services {
  margin-bottom: 100px;
  display: flex;
  background-color: #27275A;
  width: 1920px; }
  main .services .article-services {
    margin-left: 140px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
    main .services .article-services .card {
      width: 330px;
      margin-left: 0;
      box-shadow: none; }
      main .services .article-services .card .card-header {
        margin-left: 50px; }
        main .services .article-services .card .card-header img {
          width: 200px;
          height: auto;
          margin: 30px;
          border-radius: 0; }
      main .services .article-services .card .card-body {
        margin: 30px;
        font-weight: 200;
        font-size: 16px;
        color: #27275A;
        text-align: center; }
        main .services .article-services .card .card-body h5 {
          font-size: 18px; }
        main .services .article-services .card .card-body p {
          text-align: justify; }
main .whyus {
  width: 100%;
  height: 600px;
  text-align: center;
  margin-left: 300px;
  background-color: #27275A;
  margin-bottom: 100px; }
  main .whyus h2 {
    color: #FFF;
    margin-bottom: 0; }
  main .whyus .reasons {
    display: flex; }
    main .whyus .reasons .benefits-image {
      margin-left: 30px !important; }
      main .whyus .reasons .benefits-image article img {
        width: 500px;
        height: 500px;
        margin: 0 800px 100px 0;
        border-radius: 0; }
    main .whyus .reasons .benefits {
      max-width: 450px;
      text-align: left;
      color: #FFF;
      margin-left: 80px;
      margin-top: 30px; }
      main .whyus .reasons .benefits h4 {
        font-weight: 700;
        font-size: 24px;
        opacity: 95%;
        margin-block-end: 0; }
      main .whyus .reasons .benefits p {
        opacity: 65%;
        font-size: 16px;
        margin-block-start: 0;
        margin-block-end: 0; }
main .stats {
  display: flex;
  margin-left: 200px; }
  main .stats .article-stats {
    display: inline-flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
    main .stats .article-stats div {
      margin-left: 100px;
      text-align: center;
      color: #27275A; }
      main .stats .article-stats div h5 {
        font-size: 24px;
        margin-bottom: 0; }
      main .stats .article-stats div hr {
        width: 20%;
        margin-top: 15px; }
      main .stats .article-stats div p {
        font-size: 38px;
        font-weight: 700;
        margin-block-start: 0; }
        main .stats .article-stats div p span {
          text-transform: uppercase;
          font-weight: 200;
          font-size: 18px; }
main aside {
  width: 300px; }
  main aside .sponsor div p {
    margin-left: 38px;
    opacity: 50%;
    color: #27275A;
    font-size: 12px;
    bottom: 0; }
  main aside .sponsor div a img {
    margin-left: 45px;
    border-radius: 0;
    max-width: 120px; }
main .contact {
  color: #2D3748;
  margin-left: 30%;
  text-align: center;
  width: 588px;
  height: 296px;
  margin-bottom: 100px; }
  main .contact article h2 {
    color: #27275A;
    font-size: 36px;
    padding-top: 60px; }

hr {
  color: #27275A;
  border: 2px solid;
  width: 1920px;
  margin-block-start: 0; }

.social_icon_group {
  margin: 15px 0;
  margin-left: 900px; }

footer {
  color: #27275A;
  margin-left: 0px;
  bottom: 0;
  display: flex; }
  footer .social_icon_group {
    white-space: normal;
    font-size: 900;
    opacity: 80%;
    margin-left: 600px; }
    footer .social_icon_group .quicknav {
      margin-left: 25px;
      color: #27275A;
      font-weight: 500;
      opacity: 65%; }
    footer .social_icon_group .copyright {
      margin-top: 30px !important; }
    footer .social_icon_group .copyright:disabled {
      background-color: #ffffff; }

/*# sourceMappingURL=style.css.map */
