$primary: #5E5BC7;
$secondary: #C63CBC;
$third-variation: #0e0000;
$fourth-varition: #27275A;
$fifth-variation: #B1B5BE;
html{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    color: #0e0000;
    width: 1366px;
    top:0;
    position: relative;
    overflow-x: hidden;
    justify-content: center;
    
} 
a:hover{

}
header{
    display: flex;
    height: 70px;
    top: 0;
    overflow: hidden;
    width: 100%;
    background-color: #FFF;
    position: fixed;
    div{
        margin-top: 15px;
        a{
            text-decoration: none;
            font-size: 24px;
            color: #27275A;
            font-weight: 900;
        }
    }
    margin-left: 100px;
    nav{
        flex: 1;
        margin-left: 62%;
        margin-top: 20px;
        top:0;
        ul{
            list-style: none;  
            margin: 0; 
            padding: 0;
            li{
                display:inline-block ;
                margin-left: 40px;
                a{
                  display: inline-block;
                  text-decoration: none;
                  font-weight: 500;
                }
            }
        }
    }
    
}
h1{
    font-size: 36px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 30px;
}
button{
    width: 160px;
    height: 50px;
    padding: 15px 32px;
    border-radius: 12px;
    border: none;
    font-size: 17px;
    color: #FFF;
    background-color: #27275A;
}
main{
    .hero_section{
        overflow: auto;
        margin-left:100px;
        display: flex;
        .banner-text{
            margin-top: 160px;
            width: 669px;
            height: 335px;
            color: #2D3748; 
            text-align: left;
            p{
                margin-bottom: 30px;
                text-align: justify;
                color: #4A5568;
            }
       

        }
        .banner-image{
            width: 652px;
            height: 454px;
            margin-left: 40px;
            margin-top: 130px;
            border-radius:  none;
            // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),
            //             0 6px 20px 0 rgba(0,0,0,0.19);
        }
        margin-bottom: 100px;
    }
    .whyus{
        width: 100%;
        height: 600px;
        text-align: center;
        margin-left: 300px;
        background-color: #27275A ;
        h1{
            text-align: 30%;
            padding: 40px;
            color:#FFF;
        }

        margin-bottom: 100px;
    }
    .contact {
        color: #2D3748;
        margin-left: 30%;
        text-align: center; 
        width: 588px;
        height: 296px;
        margin-bottom: 245px;
    }
}
hr{
 color: #27275A;
 border: 2px solid;
}
footer{
    color: #27275A;
    margin-left: 100px;
    bottom: 0;
}
