$primary: #5E5BC7;
$secondary: #C63CBC;
$third-variation: #0e0000;
$fourth-varition: #27275A;
$fifth-variation: #B1B5BE;
html{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    color: #0e0000;
    width: 1366px;
    top:0;
    position: relative;
    overflow-x: hidden;
    justify-content: center;
    
} 

h2{
    padding-top: 30px;
    color: #FFF;
    text-align: center;
    font-size: 40px;
}

header{
    display: flex;
    height: 70px;
    top: 0;
    overflow: hidden;
    width: 100%;
    background-color: #FFF;
    position: fixed;
    box-shadow: 0px 0px 10px 1px transparentize($color: #27275A, $amount: 0);

    div{
        margin-top: 15px;
        margin-left: 100px;
        a{
            text-decoration: none;
            font-size: 24px;
            color: #27275A;
            font-weight: 900;
        }
    }
    nav{
        flex: 1;
        margin-left: 67%;
        margin-top: 20px;
        
        top:0;
        
        ul{font-weight: 700;
            list-style: none;  
            margin: 0; 
            padding: 0;
            li{
                display:inline-block ;
                margin-left: 40px;
                a{
                  display: inline-block;
                  text-decoration: none;
                  color: #27275A;
                  font-weight: 500;
                }
            }
        }
    }
    
}
h1{
    font-size: 36px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 30px;
}
button{
    width: 160px;
    height: 50px;
    padding: 15px 32px;
    border-radius: 12px;
    border: none;
    font-size: 17px;
    color: #FFF;
    cursor: alias;
    background-color: #27275A;
}
main{
    .hero_section{
        overflow: auto;
        margin-left:100px;
        display: flex;
        .banner-text{
            margin-top: 160px;
            width: 669px;
            height: 335px;
            color: #2D3748; 
            text-align: left;
            p{
                margin-bottom: 30px;
                text-align: justify;
                color: #4A5568;
            }
       

        }
        .banner-image{
            width: 652px;
            height: 454px;
            margin-left: 40px;
            margin-top: 130px;
            border-radius:  none;
            // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),
            //             0 6px 20px 0 rgba(0,0,0,0.19);
        }
        margin-bottom: 100px;
    }
    .whyus{
        width: 100%;
        height: 600px;
        text-align: center;
        margin-left: 300px;
        background-color: #27275A ;
                h2{
                    color: #FFF;
                }
        margin-bottom: 100px;
    }
    aside{
        width: 300px;
        .sponsor{

            div{
                p{
                    margin-left: 38px;
                    opacity: 50%;
                    color: #27275A;
                    font-size: 12px;
                    bottom: 0;
                }
                a{
                    img{
                        margin-left: 45px;
                        border-radius: 0;
                        max-width: 120px;
                    }
                }
            }
        }
    }
    .contact {
        color: #2D3748;
        margin-left: 30%;
        text-align: center; 
        width: 588px;
        height: 296px;
        margin-bottom: 100px;
        article{
            h2{
                color: #27275A;
                font-size: 36px;
                padding-top: 60px;
            }
        }
    }
}
hr{
 color: #27275A;
 border: 2px solid;
 margin-block-start: 0;
}
.social_icon_group{
    margin: 15px 0;
    margin-left: 900px;
  }
  
footer{
    color: #27275A;
    margin-left: 0px;
    bottom: 0;
    display: flex;
    .social_icon_group{
       white-space: normal;
       font-size: 900;
        opacity: 80%;
         margin-left: 600px;
       .quicknav{
        margin-left: 25px;
        color: #27275A;
        font-weight: 500;
        opacity: 65%;
       }
       .copyright{
            margin-top: 30px !important;
       }
       .copyright:disabled{
        background-color: #ffffff;
       }

    }
}
