@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }
  @mixin for-tablet{
    @media (min-width: 600px) and (max-width: 900px ){ @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) and (max-width: 1199px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
html{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    color: #0e0000;
    max-width: 1366px;
    top:0;
    position: relative;
    overflow-x: hidden;
    justify-content: center;
    @include for-phone-only(){
        width: 100%;
    }

    @include for-tablet-landscape-up(){
        min-width: 900px;
    }
    
} 

h2{
    padding-top: 30px;
    color: #FFF;
    text-align: center;
    font-size: 40px;
    
}

header{
    display: flex;
    height: 70px;
    top: 0;
    overflow: hidden;
    width: 100%;
    background-color: #FFF;
    position: fixed;
    box-shadow: 0px 0px 10px 1px transparentize($color: #27275A, $amount: 0);
    @include for-phone-only(){
        width: 100%;
        div{
            display: flex;
            justify-content: center;
        }

        nav{
            margin-left: 20% !important;
        }
    }
    @include for-tablet-landscape-up(){

    }
    div{
        margin-top: -2px;
        margin-left: 100px;
        a{
            text-decoration: none;
            font-size: 24px;
            color: #27275A;
            font-weight: 900;
            .logo-image{
                border-radius: unset;
                width: 151px;
            }
        }
    }
    nav{
        flex: 1;
        margin-left: 58%;
        margin-top: 20px;
        
        top:0;
        
        ul{font-weight: 700;
            list-style: none;  
            margin: 0; 
            padding: 0;
            li{
                display:inline-block ;
                margin-left: 40px;
                a{
                  display: inline-block;
                  text-decoration: none;
                  color: #27275A;
                  font-weight: 700;
                }
            }
        }
    }
    
}
h1{
    font-size: 36px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 30px;
}
button{
    width: 160px;
    height: 50px;
    padding: 15px 32px;
    border-radius: 12px;
    border: none;
    font-size: 17px;
    color: #FFF;
    cursor: alias;
    background-color: #27275A;
}
main{
    @include for-phone-only(){
        width: 400px;
    }
    @include for-tablet-landscape-up(){
        max-width: 820px;
    }
    margin: 0 auto;
    justify-content: center;
    width: 1000px;
    margin-left: 10%;
    @include for-tablet-landscape-up(){
        margin:0 15px;
        width: 900px;
    }
    .hero_section{
        @include for-tablet-landscape-up(){
            .banner-image{
                display: none;
            }
            .banner-text{
                margin-left: 15%;
                p{
                    padding-right: 100px;
                }

            }
        }
        @include for-phone-only(){
            width: 400px;
            .banner-text{
                margin-top: 80px !important;
               h1{
                  text-align: center !important; 

               }
            }
            .banner-image{
                display: none;
            }
            button{
                margin-left: 30%;
            }
        }
        background-color: white;
        overflow: auto;
        display: flex;
        .banner-text{
            h1{
                text-align: center ;
            }
            margin-top: 100px;
            width: 100%;
            color: #2D3748; 
            text-align: left;
            p{
                margin-bottom: 30px;
                text-align: justify;
                color: #4A5568;
            }
       

        }
        .banner-image{
            width: 100%;
            height: auto;
            margin-left: 40px;
            margin-top: 80px;
            border-radius:  none;
            // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),
            //             0 6px 20px 0 rgba(0,0,0,0.19);
        }
        margin-bottom: 50px;
    }
    .services{
        @include for-tablet-landscape-up(){
            width: 900px;
            margin-left: aut;
            .article-services{
                display: flex;
                justify-content: center;
                width: 900px;
                #ux{
                    display: none;
                }
                .card{
                    width: 400px;
                }

            }
        }
        @include for-phone-only(){
            width: 599px;
            display: block;
            margin-left: 0 50px;
            margin-top: auto;
            .article-services{
                width: fit-content;
                display: block !important;
                margin-top: 100px ;
                margin-left: 50px !important;
                .card{
                    width: 80% ;
                    .card-header{
                        margin-left: 70px;
                    }
                }
            }
        }
        margin-bottom: 100px;
        display: flex;
        background-color: #27275A;
        background-size: auto;
        width: max-content;
        .article-services{
            margin-left: 0px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                .card{
                    
                    width: 330px;
                    margin-left: 0;
                    box-shadow: none;
                    .card-header{
                        margin-left: 50px;
                    img{
                        width: 200px;
                        height: auto;
                        margin: 30px;
                        border-radius: 0;
                    }

                    }
                    .card-body{
                        margin:30px;
                        font-weight: 200;
                        font-size: 16px;
                        color: #27275A;
                        text-align: center;
                        h5{
                            font-size: 18px;
                        }
                        p{
                            text-align: justify;
                        }
                    }
                }
        }
    }
    .whyus{
        width: 100%;
        height: 600px;
        text-align: center;
        margin-left: 10px;
        padding-right: 15%;
        background-color: #27275A ;
                h2{
                    color: #FFF;
                    margin-bottom: 0;
                }
                @include for-tablet-landscape-up(){
                    display: none;
                }
                @include for-phone-only(){
                   height: fit-content;
                   text-align: center;
                    display: block;
                    width: 599px;
                    margin-left: 0;
                    padding-left: 0 ;
                    margin-top: 100px;
                    .reasons{
                        display: block;
                        padding: 0px !important;
                        margin-top: -30px;
                        .benefits-image{
                            margin: 0;
                            display: none;
                        }
                       .benefits{
                           margin-left: 0px !important;
                           div{
                               h4{
                                   text-align: center;
                               }
                               p{
                                   text-align: justify;
                                   padding: 0 35px;
                            
                               }
                               margin-bottom: 30px;
                           }
                       }
                    }

                }
                .reasons{

                  display: flex;
                  padding-left: 100px;
                  justify-content: space-between;
                        .benefits-image{
                            margin-left: 30px;
                            article{
                                img{
                                    width: 500px;
                                    height: 500px;
                                    margin: 0 800px 100px 0;
                                    border-radius: 0;
                                }
                            }
                        }
                        .benefits{
                            max-width: 450px;
                            text-align: left;
                            color: #FFF;
                            margin-left: 80px;
                            margin-top: 30px;
                            h4{
                                font-weight: 700;
                                font-size: 24px;
                                color: rgba(255,255,255,0.95);
                                margin-block-end: 0;
                            }
                            p{
                             color: white ;
                             font-size: 16px;
                             margin-block-start: 0;
                             margin-block-end: 0;
                            }
                        }
                }
                
        margin-bottom: 50px;
    }
    .stats{
        display: flex;
        margin-left: 10%;
        @include for-tablet-landscape-up(){
            display: none;
        }
        @include for-phone-only(){
            display: block !important;
            width: 70%;
            margin-left: 15%;
            .article-stats{
                display: block !important;
                margin: 0;
                padding: 20px 0px;
                div{
                 margin: 30px 0;
                 margin-left: 0 !important;
                 padding: 0;
                   text-align: center;
                   width: 100%;
                }
            }
        }
        .article-stats{
            display: inline-flex;
           box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            div{
                margin-left: 100px;
                color: #27275A;
                h5{
                    font-size: 24px;
                    margin-bottom: 0;
                }
                hr{
                    width: 20%;
                    margin-top: 15px;
                }
                p{
                    font-size: 38px;
                    font-weight: 700;
                    margin-block-start: 0;
                    text-align: center;
                    span{
                        text-transform: uppercase;
                        font-weight: 200;
                        font-size: 18px;
                    }
                }
                }
        } 
    }
    
    .contact {
        color: #2D3748;
        margin-left: 20%;
        text-align: center; 
        width: 588px;
        height: 296px;
        margin-bottom: 100px;
        @include for-phone-only(){
            width: 100%;
            margin-left: 0;
            article{
                p{
                    text-align: justify;
                    padding: 0 20px;
                }
            }
        }
        article{
            h2{
                color: #27275A;
                font-size: 36px;
                padding-top: 60px;
            }
        }
    }
}
hr{
 color: #27275A;
 border: 2px solid;
 width: 1920px;
 margin-block-start: 0;
}
.social_icon_group{
    margin: 15px 0;
    margin-left: 900px;
  }
  aside{
    @include for-phone-only(){
        display: none;
    }
    width: 300px;
.sponsor{
            
width: 300px;
margin-left: 0px;
text-align: center;
font-size: 14px;
color: rgba(0,0,0,70%);

        div{
            p{
                margin-left: 20px;
                opacity: 50%;
                color: #27275A;
                bottom: 0;
            }
            a{
                img{
                    margin-left: 20px;
                    border-radius: 0;
                    width: 120px !important;
                    height: auto !important;
                }
            }
        }
    }
}
footer{
    color: #27275A;
    margin-left: 0px;
    bottom: 0;
    display: flex;
    @include for-tablet-landscape-up(){
        width: 900px;
    }
    @include for-phone-only(){
        display: block;
        .social_icon_group{
            margin-left: 0 !important;
            display: flex;
            justify-content: center;
            .copyright{
                padding-right:20px 0px 20px !important;
            }
        }
    }
    .social_icon_group{
       white-space: normal;
       font-size: 900;
        opacity: 80%;
         margin-left: 45%;
       .quicknav{
        margin-left: 25px;
        color: #27275A;
        font-weight: 500;
        opacity: 65%;
       }
       .copyright{
            margin-top: 30px;
            padding: 20px 0px 20px 120px;
       }
       .copyright:disabled{
        background-color: #ffffff;
       }

    }
}
