/*stylesheet for small devices*/
html {
    margin: 0;
    padding: 0; }
  
  body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #0e0000;
    
    top: 0;
    position: relative;
    overflow-x: hidden;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }




/* ============== beging of header====================*/
#header_ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 70px;
    top: 0;
    overflow: hidden;
    width: 100%;
    background-color: #FFF;
    position: fixed;
    -webkit-box-shadow: 0px 0px 10px 1px #27275a;
            box-shadow: 0px 0px 10px 1px #27275a;
     }




     nav ul {
        font-weight: 700;
        list-style: none;
        margin: 0;
        padding: 0; }
        nav ul li {
    
          margin: 1px 10px; }




       
  

.logo{

    width: 80%;
}

.logo img{

    height: 60px;
    
}


 /*Hamburger Menu*/

/*Hamburger hiding link*/
#links{

    display: none;
}
/*Hamburger layout*/
.mobileNav{

    overflow: hidden;
    position: relative;
}


/*Hamburger Menu Button*/
.nav_button{

    margin-top: 10px;
    width: 40px;
    border: #27275a 1px solid;
    border-radius: 5px;
}

/*Hamburger 3 bar design*/
.nav_button div{

    height: 5px;
    width: 35px;
    margin: 5px auto;
    background-color: #27275A;

}



/*Hiding Navbar of large screens*/
.navigation{

    display: none;

}

/*Narbar designg*/
header div {
    margin-top: 5px;
    margin-left: 10px; }

/*Narbar link*/    
header div a {
      text-decoration: none;
      font-size: 18px;
      color: #27275A;
      font-weight: 900; }


/*===============END OF NAVBAR DESIGH===============*/





 /*================ABOUT US PAGE styling*==============/     

/*Container to carry content*/
      .container{
        width: 80%;
        margin: auto;

       }


       /*summary*/
       .summary{
       
          width: 100%; 
          text-align: center;
          color: #27275A;
          font-size: 16px;
          font-weight: 400;
          opacity: 100%;
          margin-left: 1%;
          margin-bottom: 30px;
       }


       .team{

        width: 100%;
        background-color: white;
        color: #27275A;    
    }

    

       .team h2{
        text-align: center;
        color: #27275A;
        margin-block-end: 0;
        margin-block-start: 0;
        font-size: 30px;
        margin-top: 80px;
    }


/*card Desing of our team member d*/

       .card{
        justify-content:center;
       background-color: white;
          width: 100%;
          /*Allow the height of the card to fit the content of the page*/
          height: fit-content;
         box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
         transition: 0.3s;
      }


/*Image of member box*/
      .card_image{

        justify-content: center;
        margin-left:  5%;
        width: 100%;

      }

      /*Image of member */
      .card img{

        height: 80%;
        width: 80%;
        margin: 5%;
        border-radius: 50%;

      }

   
      /*Paragraph of memmber of member */
      

        .p_card{
            margin: 5px;
            padding: 0px 19px 19px;
            font-size: 14px;
            line-height: 1.4;
         
      }


      /*Social media  icons of member box*/

      .media-icons{
        
       
  display: flex;
  justify-content: center;
  margin: 10px;
  margin-block-end: 40px;
        
      }

      /* circle desing of socil media Icon box*/
      .fa {
        padding: 15px;
        font-size: 20px;
        width: 25px;
        margin-left: 7px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
      }
    
      .fb{
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    
      }
    
      /* Facebook */
    .fa-facebook {
        background: #3B5998;
        color: white;
      }
      
      /* Twitter */
      .fa-twitter {
        background: #55ACEE;
        color: white;
      }
      
     /*Instagram */
     .fa-instagram{
    
        background: #d6404d;
        color: white;
     }
     /*Linkedin*/
     .fa-linkedin{
    
        color: white;
        background: #253964;
     }
    
        /*Hoover of social media*/

     .fa:hover {
        opacity: 0.7;
      }



/*================ End  of ABOUT US PAGE styling*==============*/     

      
     


      hr {
        color: #27275A;
        border: 2px solid;
        width: 100%;
        -webkit-margin-before: 0;
                margin-block-start: 0; }



                footer {
                    color: #27275A;
                    margin: auto;
                    bottom: 0;
                 
                    
                  }
                    footer .social_icon_group {
                      white-space: normal;
                      font-size: 900;
                      opacity: 80%;
                       }
                      footer .social_icon_group .quicknav {
                        
                        color: #27275A;
                        font-weight: 500;
                        opacity: 65%; }
                      
                      footer .social_icon_group .copyright:disabled {
                        background-color: #ffffff; }


.footer_display{

  display: flex;
 
}
.sponsor{

  width: 50%;
}
.social_icon_group {

  justify-content: center;
  
}

.sponsor  p {
        
        opacity: 50%;
        color: #27275A;
        font-size: 12px;
        bottom: 0;
}

.sponsor  img {
    border-radius: 0;
    margin-left: 30px;
    max-width: 120px; }


    .social_icon_group {

      width: 50%;
      float: left;
      
    }


    .icons .fa {
      padding: 10px;
      font-size: 10px;
      width: 15px;
      margin-left: 3px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
    }

.icons{


display: flex;

}


.copyright{


  text-align: center;
  width: 100%;
  margin: 20px;


}

.quicknav{

  margin-top: 25px;
  display: none;
}

.quicknav a {
  margin-left: 25px;
  margin-top: 25px;
  text-decoration: none;
  color: #27275A;
  font-size: 25px;
  font-weight: 500;
  opacity: 65%; }



 /*=============================================================================================
============= ================= End  of SMALL DEVICE STYLING=====================================
=================================================================================================*/ 
 
 



@media only screen and (min-width:600px)
{


/*================ABOUT US PAGE styling*==============/ 
            
/* conntent of the page */

.container{

    width: 100%;
}

 /*Summary of About us */

 .summary{

    font-size: 20px;
 }


 .team{

    display: grid;

 }
.team h2{

    font-size: 32px;
}
.card{

  float: left;
    width: 47%;
    margin-bottom: 10px;
    margin-left: 3%;
    

}
.icons .fa {
  padding: 15px;
  font-size: 15px;
  width: 20px;
  margin-left: 3px;
}





}



@media only screen and(min-width:768px)
{



    
}





 /*=============================================================================================
============= ================= LARGE DEVICE STYLING (DESKTOP)=====================================
=================================================================================================*/

@media only screen and (min-width : 992px){





 
    body{
    
        font-size: 16px;
        line-height: 1.6;
        max-width: 1366px;
        top: 0;
    }
    
    
       /* styling HEADER */
    
        /*Hiding burger Menu and links*/
    
        .mobileNav{
    
            display: none;
        }
    
    
        /*Displaying links for Desktop*/
    
        .navigation{
    
            display: block;
        
        }
    
        /* styling logo box*/
        
    .logo{
    
        width: 60%;
        margin-left: 100px;
    }
    
    #header_{
    
       
    }
    
    header div {
        margin-top: 5px;
        margin-left: 10px; }
    
    
    
    
     /* styling logo Image*/
    
        .logo img{
    
            border-radius: unset;
          width: 151px;
           
            
        }
    
         /* navigation bar*/
        
        header nav {
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            margin-top: 20px;
            top: 0; }
        
         /* navigation list and link*/
           header nav ul {
                font-weight: 700;
                list-style: none;
                margin: 0;
                padding: 0; }
                header nav ul li {
                  display: inline-block;
                  margin-left: 10px; }
    
    
    
                    /* hiding link for mobile*/
                  #links{
    
                    display: none;
                }
    
    
    
    /*================ABOUT US PAGE styling*==============/ 
                
    /* conntent of the page */
    
    .container{
    
        width: 100%;
    }
    
     /*Summary of About us */
    
     .summary{
    
        font-size: 20px;
     }
    
    
     .team{
    
        float: left;
     }
    .team h2{
    
        font-size: 36px;
    }
    .card{
    
        float: left;
        width: 23.5%;
        margin-left: 1.5%;
        
    
    }






    .sponsor{

      width: 50%;
    }

    .quicknav{

      display: block;



    }




    .sponsor  img {
      margin-left: 45px;
    
    }
    

    .social_icon_group {

      width: 50%;
    }
  
  
  
    .sponsor{
  
      width: 30%;
    }



    
    }

    

    
  
    
     /*=============================================================================================
    ============= ================= End  of LARGE DEVICE STYLING (DESKTOP)=====================================
    =================================================================================================*/
    
    
    
    @media only screen and(min-width:1200px)
    {
    
        .logo{
    
            width: 60%;
            margin-left: 50px;
        }
        
    }
    

